<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Stadium</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color:#e0f0e3;">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">BDBT Spring Boot Project - Part II</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/main}">Main
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/record_admin}">Contracts
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/record_matches_admin}">Matches
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/record_stadium_admin}">Stadiums
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:inline="text" style="color:lightskyblue;">Logged in as <b
                  style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
        </li>

        <li class="nav-item">
          <form method="post" th:action="@{/index}">
            <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">
              Logout
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div align="center">
  <br/>
  <!-- Page header -->
  <h1>Enter new stadium</h1>

  <!-- End line/ new line -->
  <br/>

  <form action="#" th:action="@{/save_stadium}" th:object="${stadium}" method="post">
    <!-- Table -->
    <table border = "1" cellpadding = "10">
      <tr>
        <td>Number of seats:</td>
        <td><input type="text" th:field="*{ilosc_miejsc}"></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><input type="text" th:field="*{nazwa}"></td>
      </tr>
      <tr>
        <td>Date of opening:</td>
        <td><input type="text" th:field="*{data_otwarcia}"></td>
      </tr>
      <tr>
        <td>Has parking?</td>
        <td>
          <select th:field="*{czy_parking}">
            <option value="true" th:text="Yes"></option>
            <option value="false" th:text="No"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Type of grass:</td>
        <td>
          <select th:field="*{rodzaj_murawy}">
            <option value="N" th:text="Natural"></option>
            <option value="S" th:text="Artificial"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Has closeable roof?</td>
        <td>
          <select th:field="*{czy_zamykany_dach}">
            <option value="true" th:text="Yes"></option>
            <option value="false" th:text="No"></option>
        </select>
        </td>
      </tr>
      <tr>
        <td>Address:</td>
        <td><input type="text" th:field="*{adres}"></td>
      </tr>
      <tr>
        <td style="text-align: center;" colspan="2"><button class="btn btn-primary" type="submit">Add</button></td>
      </tr>

    </table>
  </form>
</div>

<script th:src="@{/js/script.js}"></script>

</body>
</html>